body {
  font-family: Arial, sans-serif;
  padding: 100px;

}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #20c847;
}


.feedback {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}


.score {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}


.restart-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #20c847;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #218838;
}

/* Közepes méretű képernyőkre (tabletek) */
@media (min-width: 600px) {
  button {
    width: 75%;
    margin: 10px auto;
  }

  .restart-button {
    width: 75%;
    margin: 10px auto;
  }
}

/* Nagyobb méretű képernyőkre (asztali gépek) */
@media (min-width: 1024px) {
  button {
    width: 50%;
    font-size: 1.5rem;
  }

  .restart-button {
    width: 50%;
    font-size: 1.5rem;
  }
}
